<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-decoration: none;

        }
        body{
            /* background-color: #906565; */
            background-color: violet;
            width: 100vw;
            height: 100vh;
        }
        .form{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2rem;
        }
        
        input{
            padding: .5rem 2rem;
            outline: 1px solid violet;
        }
        button{
            padding: .5rem 2rem;
        }
        .center{
            display: flex;
            justify-content: center;
        }
        .flex{
            display: flex;
            flex-direction: column;
        }
        .login-tab{
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .login-tab button{
            margin-top: .5rem;
            cursor: pointer;
        }
        .btn{
            cursor: pointer;
        }
        .red{
            margin-top: .4rem;
            color: rgb(155, 17, 17);
        }
    </style>
</head>
<body>
    <div class="form">
        <form action="/user/login" method="POST">
           <div class="flex">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email">
           </div>
           <div class="flex">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
           </div>
           <div >
            <button class="btn" type="submit">Login</button>
           </div>
        </form>
        <%if (locals.uae) {%>
            <p class="red">User does not exist...</p>
        <%}%>
        <div class="login-tab">
           <p>Don't have an account</p>
            <!-- <button><a href="/">Signup</a></button>  -->
            <a href="/">
                <button>Signup</button>
            </a>
        </div>
        
    </div>
</body>
</html>