<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-decoration: none;

        }
        body{
            /* background-color: #906565; */
            background-color: violet;
            width: 100vw;
            height: 100vh;
        }
        .form{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2rem;
        }
        
        input{
            padding: .5rem 2rem;
            border: none;
            border-radius: .2rem;
            outline: .1px solid black ;

        }
        button{
            padding: .5rem 2rem;
        }
        .center{
            display: flex;
            justify-content: center;
        }
        .flex{
            display: flex;
            flex-direction: column;
        }
        .login-tab{
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* border: 1px solid black; */
        }
        .login-tab button{
            margin-top: .5rem;
            cursor: pointer;
        }
        .btn{
            cursor: pointer;
        }
        .red{
            margin-top: .4rem;
            color: rgb(155, 17, 17);
        }
    </style>
</head>
<body>
    <div class="form">
        <form action="/user/signup" method="POST">
           <div  class="flex">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
           </div>
           <div class="flex">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email">
           </div>
           <div class="flex">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
           </div>
           <div >
            <button class="btn" type="submit">Signup</button>
           </div>
        </form>
        <%if (locals.uae) {%>
            <p class="red">User already exists Login to continue...</p>
        <%}%>
        <div class="login-tab">
           <p>Already have an account</p>
            <!-- <button><a href="/login">login</a></button> -->
            <a href="/login">
                <button>Login</button>
            </a>
        </div>
        
    </div>
</body>
</html>